{
    "openapi": "3.1.0",
    "info": {
        "title": "Joint Allocation Office (JAO) REST API",
        "version": "0.1.0",
        "description": "Auto-generated by `scripts/build_openapi.jl` from a declarative endpoint\ntable. JAO publishes neither an OpenAPI spec nor a Postman collection;\nthis spec consolidates the surface mined from the `jao-py` open-source\nclient (Publication Tool) and the `API_User_Guide_v1.0.pdf` (OWSMP\nauctions).\n\nThe Publication Tool runs ASP.NET Core with Swashbuckle disabled; its\nerrors are RFC 7807 `application/problem+json`. OWSMP returns bare JSON\narrays. The Utility Tool (SOAP/WSDL) is intentionally out of scope.\n\nOperations live under SYNTHETIC paths (`/publicationtool/core/data/...`,\n`/owsmp/...`) so OpenAPI's `path + method` key-uniqueness constraint is\nsatisfied while preserving one Julia function per logical query. The\ngenerated client's `pre_request_hook` collapses the synthetic prefix back\nto the real base URL listed under `servers` at request time.\n"
    },
    "servers": [
        {
            "url": "https://publicationtool.jao.eu/core/api",
            "description": "Real base URL for synthetic prefix `/publicationtool/core` (collapsed by the client hook)."
        },
        {
            "url": "https://publicationtool.jao.eu/nordic/api",
            "description": "Real base URL for synthetic prefix `/publicationtool/nordic` (collapsed by the client hook)."
        },
        {
            "url": "https://publicationtool.jao.eu/ibwt/api",
            "description": "Real base URL for synthetic prefix `/publicationtool/ibwt` (collapsed by the client hook)."
        },
        {
            "url": "https://publicationtool.jao.eu/coreID/api",
            "description": "Real base URL for synthetic prefix `/publicationtool/coreID` (collapsed by the client hook)."
        },
        {
            "url": "https://api.jao.eu/OWSMP",
            "description": "Real base URL for synthetic prefix `/owsmp` (collapsed by the client hook)."
        }
    ],
    "tags": [
        {
            "name": "PublicationToolCoreDA",
            "description": "Core CCR day-ahead flow-based market coupling — domain, net positions, shadow prices, validations, monitoring."
        },
        {
            "name": "PublicationToolNordicDA",
            "description": "Nordic CCR day-ahead — subset of Core (no `lta`, `netPos`, `allocationConstraint`, `alphaFactor`, `priceSpread`, `scheduledExchanges`) plus `fbDomainShadowPrice`; `d2CF` renamed to `cgmForeCast`; filter key `NonRedundant` replaces `Presolved`."
        },
        {
            "name": "PublicationToolItalyNorth",
            "description": "Italy North CCR — `CCR_*` for day-ahead, `CCR_id*` for intraday. Smaller surface than Core (CNECs, forecasts, TTC/NTC, allocation constraints)."
        },
        {
            "name": "PublicationToolCoreIDCCa",
            "description": "Core CCR intraday continuous clearing (window A). Endpoints carry the variant prefix `IDCCa_`; the `monitoring` system endpoint is shared with Core (see PublicationToolCoreDA tag)."
        },
        {
            "name": "OwsmpAuctions",
            "description": "Explicit cross-border capacity auctions (OWSMP). API key required (`AUTH_API_KEY` header)."
        }
    ],
    "paths": {
        "/publicationtool/core/data/finalComputation": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Final flow-based domain (CNECs + PDFFs)",
                "operationId": "publicationtool_core_da_final_computation",
                "description": "Final computation of the Core CCR flow-based domain for the requested market time unit: critical network elements, their contingencies, RAMs, and PDFFs per bidding-zone hub. Paginate via `Skip`/`Take`; use `Filter` to narrow by CNEC, TSO, or presolved state.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the market time unit, ISO 8601 UTC (e.g. `2024-09-01T22:00:00Z`)."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the market time unit, ISO 8601 UTC. Typically `FromUtc + 1h` for domain queries."
                    },
                    {
                        "name": "Skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Pagination offset (rows to skip)."
                    },
                    {
                        "name": "Take",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 5000
                        },
                        "description": "Page size. Use `0` first to read `totalRowsWithFilter`, then paginate. jao-py uses 5000."
                    },
                    {
                        "name": "Filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON-encoded filter object. Common keys: `CnecName` (string), `Contingency` (string), `Presolved` (bool), `Tso` (array of EIC codes). Example: `{\"Presolved\":true}`."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/preFinalComputation": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Pre-final flow-based domain",
                "operationId": "publicationtool_core_da_prefinal_computation",
                "description": "Pre-final computation result, prior to TSO validation reductions. Same shape as `finalComputation`.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the market time unit, ISO 8601 UTC (e.g. `2024-09-01T22:00:00Z`)."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the market time unit, ISO 8601 UTC. Typically `FromUtc + 1h` for domain queries."
                    },
                    {
                        "name": "Skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Pagination offset (rows to skip)."
                    },
                    {
                        "name": "Take",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 5000
                        },
                        "description": "Page size. Use `0` first to read `totalRowsWithFilter`, then paginate. jao-py uses 5000."
                    },
                    {
                        "name": "Filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON-encoded filter object. Common keys: `CnecName` (string), `Contingency` (string), `Presolved` (bool), `Tso` (array of EIC codes). Example: `{\"Presolved\":true}`."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/initialComputation": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Initial flow-based domain",
                "operationId": "publicationtool_core_da_initial_computation",
                "description": "Initial CCM output, before any validation. Same shape as `finalComputation`.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the market time unit, ISO 8601 UTC (e.g. `2024-09-01T22:00:00Z`)."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the market time unit, ISO 8601 UTC. Typically `FromUtc + 1h` for domain queries."
                    },
                    {
                        "name": "Skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Pagination offset (rows to skip)."
                    },
                    {
                        "name": "Take",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 5000
                        },
                        "description": "Page size. Use `0` first to read `totalRowsWithFilter`, then paginate. jao-py uses 5000."
                    },
                    {
                        "name": "Filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON-encoded filter object. Common keys: `CnecName` (string), `Contingency` (string), `Presolved` (bool), `Tso` (array of EIC codes). Example: `{\"Presolved\":true}`."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/netPos": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Net positions per bidding zone",
                "operationId": "publicationtool_core_da_net_position",
                "description": "Net position per Core CCR bidding zone, one row per MTU. Columns: `dateTimeUtc` plus `hub_<ZONE>` (e.g. `hub_DE`, `hub_FR`). Special-case: jao-py renames `DE` → `DE_LU`.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/shadowPrices": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Active constraints with shadow prices",
                "operationId": "publicationtool_core_da_shadow_prices",
                "description": "Critical branch-contingency pairs (CB/CO) that were binding in the market clearing, with their shadow prices.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/lta": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Long-term allocations",
                "operationId": "publicationtool_core_da_lta",
                "description": "Long-term capacity allocations (yearly/monthly) applicable to the requested window.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/validationReductions": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "TSO validation reductions",
                "operationId": "publicationtool_core_da_validation_reductions",
                "description": "Per-TSO reductions applied during validation. Note: some rows carry `tso == \"CBCO\"`; jao-py filters those out as malformed.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/maxExchanges": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Maximum bilateral exchanges per border",
                "operationId": "publicationtool_core_da_max_exchanges",
                "description": "Per-border max bilateral exchange limits in MW. Columns: `dateTimeUtc` plus `border_<FROM>_<TO>`.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/maxNetPos": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Min/max net positions per zone",
                "operationId": "publicationtool_core_da_max_net_positions",
                "description": "Per-zone min and max net-position bounds in MW.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/allocationConstraint": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Allocation constraints (up/down per zone)",
                "operationId": "publicationtool_core_da_allocation_constraint",
                "description": "External allocation constraints imposed on the flow-based domain (up and down per zone).",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/spanningDefaultFBP": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Default-FBP status flag",
                "operationId": "publicationtool_core_da_spanning_default_fbp",
                "description": "Indicator: did the day fall back to the spanning default flow-based parameters?",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/priceSpread": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Day-ahead price spreads per border",
                "operationId": "publicationtool_core_da_price_spread",
                "description": "Day-ahead price spread per border, derived from SDAC clearing prices.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/scheduledExchanges": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Scheduled exchanges per border",
                "operationId": "publicationtool_core_da_scheduled_exchanges",
                "description": "Per-border scheduled exchanges in MW.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/alphaFactor": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Alpha factor per zone",
                "operationId": "publicationtool_core_da_alpha_factor",
                "description": "Per-zone alpha factor used in advanced hybrid coupling.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/d2CF": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "D-2 congestion forecast",
                "operationId": "publicationtool_core_da_d2cf",
                "description": "D-2 congestion forecast (Nordic variant: `cgmForeCast`).",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/refprog": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Reference programs",
                "operationId": "publicationtool_core_da_refprog",
                "description": "Reference programs feeding the flow-based computation.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/data/congestionIncome": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Congestion income per border",
                "operationId": "publicationtool_core_da_congestion_income",
                "description": "Day-ahead congestion rent per border, in EUR.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/core/system/monitoring": {
            "get": {
                "tags": [
                    "PublicationToolCoreDA"
                ],
                "summary": "Process monitoring (deadlines, publication times)",
                "operationId": "publicationtool_core_da_monitoring",
                "description": "Process monitoring records — `businessDayUtc`, `deadline`, `lastModifiedOn`. Note: served from `/system/` rather than `/data/` on the Publication Tool host.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`). Practical limit: two days per call; DST boundaries may force single-day chunks."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the requested window, ISO 8601 UTC with millisecond precision (`yyyy-MM-ddTHH:mm:ss.000Z`)."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/nordic/data/finalComputation": {
            "get": {
                "tags": [
                    "PublicationToolNordicDA"
                ],
                "summary": "Final Nordic FB domain (CNECs + PTDFs)",
                "operationId": "publicationtool_nordic_da_final_computation",
                "description": "Final computation of the Nordic flow-based domain.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the market time unit, ISO 8601 UTC (e.g. `2024-09-01T22:00:00Z`)."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the market time unit, ISO 8601 UTC. Typically `FromUtc + 1h` for domain queries."
                    },
                    {
                        "name": "Skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Pagination offset (rows to skip)."
                    },
                    {
                        "name": "Take",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 5000
                        },
                        "description": "Page size. Use `0` first to read `totalRowsWithFilter`, then paginate. jao-py uses 5000."
                    },
                    {
                        "name": "Filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON-encoded filter object. Common keys: `CnecName` (string), `Contingency` (string), `Presolved` (bool), `Tso` (array of EIC codes). Example: `{\"Presolved\":true}`."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/nordic/data/preFinalComputation": {
            "get": {
                "tags": [
                    "PublicationToolNordicDA"
                ],
                "summary": "Pre-final Nordic FB domain",
                "operationId": "publicationtool_nordic_da_prefinal_computation",
                "description": "Pre-final Nordic flow-based domain, before TSO validation reductions.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the market time unit, ISO 8601 UTC (e.g. `2024-09-01T22:00:00Z`)."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the market time unit, ISO 8601 UTC. Typically `FromUtc + 1h` for domain queries."
                    },
                    {
                        "name": "Skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Pagination offset (rows to skip)."
                    },
                    {
                        "name": "Take",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 5000
                        },
                        "description": "Page size. Use `0` first to read `totalRowsWithFilter`, then paginate. jao-py uses 5000."
                    },
                    {
                        "name": "Filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON-encoded filter object. Common keys: `CnecName` (string), `Contingency` (string), `Presolved` (bool), `Tso` (array of EIC codes). Example: `{\"Presolved\":true}`."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (e.g. malformed date range).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Endpoint or data not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited (>100 requests/minute on OWSMP).",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/publicationtool/nordic/data/initialComputation": {
            "get": {
                "tags": [
                    "PublicationToolNordicDA"
                ],
                "summary": "Initial Nordic FB domain",
                "operationId": "publicationtool_nordic_da_initial_computation",
                "description": "Initial Nordic FB domain output prior to validation.",
                "parameters": [
                    {
                        "name": "FromUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Inclusive start of the market time unit, ISO 8601 UTC (e.g. `2024-09-01T22:00:00Z`)."
                    },
                    {
                        "name": "ToUtc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "Exclusive end of the market time unit, ISO 8601 UTC. Typically `FromUtc + 1h` for domain queries."
                    },
                    {
                        "name": "Skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Pagination offset (rows to skip)."
                    },
                    {
                        "name": "Take",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 5000
                        },
                        "description": "Page size. Use `0` first to read `totalRowsWithFilter`, then paginate. jao-py uses 5000."
                    },
                    {
                        "name": "Filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON-encoded filter object. Common keys: `CnecName` (string), `Contingency` (string), `Presolved` (bool), `Tso` (array of EIC codes). Example: `{\"Presolved\":true}`."
                    }
                ],
                "security": [
                    {
                        "PublicationToolBearer": [
                        ]
                    }
                ],
                "responses": {
[...]
